<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <div id="seccion">
        <h2 style="color: blue;"><%=titulo%></h2>
        <span><%=min%></span>
        <meter value=<%=nivel%> min=<%=min%> max=<%=max%>>2 out of 10</meter>
        <span><%=max%></span>
    </div>
</body>
</html>